#home {
  background-image: url("../../resources/images/backlit.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

#container {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
}

#container p {
  font-size: 15px;
}

#grid {
  width: 100%;
  padding: 2%;
}
